/* FEEDBACK */
.FeedbackTab {
	position: fixed;
	bottom: 350px;
	right: 0px;
	width:35px;
	height: 135px;
	padding: 10px 5px 10px 5px; 
	margin: 0px; 
	background: #000000;
	color:#FFFFFF; 
	cursor: pointer;
}
.FeedbackTab:hover {
	padding: 10px 10px 10px 5px; 
}
.FeedbackShow {
}
